@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: span;
  src: url("../public/fonts/span.otf");
}
body {
  font-family: span;
}
* {
  scroll-behavior: smooth;
}
.container-lg {
  @apply max-w-[1400px] mx-auto;
}
.container-sm {
  @apply max-w-[1280px] mx-auto;
}

#navbar.active {
  animation: fadeNav 0.7s linear forwards;
  background-color: white;
  top: 0;
}
@keyframes fadeNav {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}
@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
/* pagination */
.pagination a {
  /* height: 40px;
  width: 40px; */
  @apply md:text-xl text-xs font-light;
}
.pagination .next,
.pagination .previous,
.pagination .next a,
.pagination .previous a,
.pagination .break {
  border: 0;
  padding: 0;
}

.pagination li {
  @apply cursor-pointer border border-gray-500  md:h-10 md:w-10 h-6 w-6 flex justify-center items-center;
}
